.container {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

.container>* {
	width: 100%;
}

.container form {
	margin-bottom: 20px;
}

.container form>* {
	margin: 5px 0;
}

.container .mat-radio-button {
	margin: 0 5px;
}

.toolbar {
	width: 25%;
	padding-bottom: 50px;
}